/animation_effects_test

/Debug
/Release


/ipch
/object_detection_test
/ScoreScanner_finalResources_Winx64
/x64
dataStructure.txt
*.pptx
*.db
*.xmind
/scoringTemplate

*/Debug
*/Release

*.dll
*.exe
*.png
*.jpg
*.bmp